In [3]:
import pandas as pd

In [16]:
data=pd.read_csv("facebook_combined.txt",sep=" ", header=None)
data

          0     1
0         0     1
1         0     2
2         0     3
3         0     4
4         0     5
5         0     6
6         0     7
7         0     8
8         0     9
9         0    10
10        0    11
11        0    12
12        0    13
13        0    14
14        0    15
15        0    16
16        0    17
17        0    18
18        0    19
19        0    20
20        0    21
21        0    22
22        0    23
23        0    24
24        0    25
25        0    26
26        0    27
27        0    28
28        0    29
29        0    30
...     ...   ...
88204  4014  4017
88205  4014  4021
88206  4014  4023
88207  4014  4030
88208  4014  4037
88209  4014  4038
88210  4016  4025
88211  4017  4021
88212  4017  4026
88213  4017  4030
88214  4018  4023
88215  4018  4030
88216  4019  4026
88217  4019  4030
88218  4020  4027
88219  4020  4030
88220  4020  4031
88221  4020  4037
88222  4020  4038
88223  4021  4026
88224  4021  4030
88225  4023  4030
88226  4023  4031
88227  4023  4034
88228  4023  4038
88229  4026  4030
88230  4027  4031
88231  4027  4032
88232  4027  4038
88233  4031  4038

[88234 rows x 2 columns]